:root{
    --cor1:#FD4556;
    --cor2:#BD3944;
    --cor3:#53212B;
    --cor4:#FFFBF5;
    --cor5:#000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor5);
}
header .container{
    background: var(--cor5);
}
header #logo-valorant{
    height: 90px;
    width: 90px;
    display: flexbox;
    margin-left: 50%;
    margin-right: 50%;
}
/*Agentes*/
main .container{
    background: var(--cor1);
}

main .agente{
    flex-direction: row;
    width: auto;
    height: auto;
    border-radius: 20px;
}