:root {
    --cor1: #e00909;
    --cor2: #2261ff;
    --cor3: #07144b;
    --cor4: #FFFBF5;
    --cor5: #090910;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container {
    background: var(--cor5);
}

header .logo {
    text-align: center;
    color: var(--cor2);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    position: relative;
    background-size: contain;


}

/*Skills*/
main {
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)),url("/image/agents/background/sovaback.jpg");
    position: relative;
    background-size: contain;

}

main .skill {
    margin-left: 50px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor4);
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

main .videoskill {
    pointer-events: none;
}